.main {
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
  max-width: 600px;
  margin: 0 auto;
}
.todo {
  display:flex;
  margin:10px 5px;
  flex-wrap:wrap;
  justify-content: center;
}
.todoTitle {
  margin: auto;
  text-align: center;
  min-width: 400px;
  margin:5px 0;
}
.inputCheckobox {
  width: 25px;
  height: 25px;
}
.button {
  min-width: 25px;
  height:   24px;
}
.submitInput {
  margin:1rem 0;
  height: 25px;
  padding: 15px;
}
.submitButton {
  background-color: blue;
  color:white;
  height: 34px;
  width:100px;
  border:none;
  border-radius: 0%;
}